<div class="container">

    <div class="header">
      
      <h1><a href="https://devcloud.huaweicloud.com/" target="_blank" rel="noopener noreferrer"><img alt="DevCloud Logo" src="../../assets/pictures/devcloud-logo.png" width="100" style="max-width:100%;"></a>华为云</h1>

      <!-- <h2><debug></debug></h2> -->
    </div>
  
    <div class="menu-container">
      <d-accordion
        [data]="menu"
        class="menu"
        [restrictOneOpen]="restrictOneOpen"
        (itemClick)="itemClick($event)"
        (menuToggle)="menuToggle($event)"
      ></d-accordion>
    </div>
  
    <div class="content">
      项目成员
    </div>
  
  </div> 