<div class="container">

    <div class="header">  
      <h1>
      <a href="https://devcloud.huaweicloud.com/" target="_blank" rel="noopener noreferrer"><img alt="DevCloud Logo" src="../../assets/pictures/devcloud-logo.svg" width="76" style="max-width:90%;"></a>
      <d-tabs [(activeTab)]="tab22acticeID" [showContent]="false">
        <d-tab id="tab1" title="首页" tabId="tab1"> </d-tab>
      </d-tabs>
      <div class="greeting">
        <span>Hi {{username}}</span>
      </div>
    </h1>

    </div>
  
    <div class="menu-container">
      <d-accordion
        [data]="menu"
        class="menu"
        [restrictOneOpen]="restrictOneOpen"
        (itemClick)="itemClick($event)"
        (menuToggle)="menuToggle($event)"
      ></d-accordion>
    </div>
  
    <div class="content">
        <section>
            <d-tabs [type]="'tabs'" [(activeTab)]="tab1acticeID">
              
              <d-tab id="tab1" title="项目成员" tabId="tab1">
                <ng-template dTabContent>
                  <app-admin-files-chart></app-admin-files-chart>
                </ng-template>
              </d-tab>
          
              <d-tab id="tab2" title="待审核" tabId="tab2">
                <ng-template dTabContent>
                  <p>
                    Netus et malesuada fames ac turpis. Quis auctor elit sed vulputate mi
                    sit amet. Nibh ipsum consequat nisl vel pretium lectus quam id leo. Et
                    ligula ullamcorper malesuada proin libero. Condimentum lacinia quis
                    vel eros donec. Viverra suspendisse potenti nullam ac tortor. Massa
                    eget egestas purus viverra accumsan in nisl. Fames ac turpis egestas
                    maecenas pharetra. Quis varius quam quisque id. Ornare arcu odio ut
                    sem nulla pharetra. In ante metus dictum at tempor commodo
                    ullamcorper. Euismod nisi porta lorem mollis aliquam ut porttitor.
                    Viverra adipiscing at in tellus. Est pellentesque elit ullamcorper
                    dignissim cras. Sed tempus urna et pharetra pharetra. Nullam ac tortor
                    vitae purus faucibus ornare suspendisse.
                  </p>
                </ng-template>
              </d-tab>
  
            </d-tabs>
          </section>
          
    </div>
  
  </div> 