.container {
    height: 100vh;
    margin: 0;
    background: #f3f6f8;
}

.header {
    height: 40px;
    color: #c0c0c0;
    background: #232323;
}

.header h1 {
    margin: 0 20px;
    line-height: 40px;
    font-size: 18px;
}
.header d-tabs {
    position: relative;
    display:inline-block;
    margin-left:100px;
    margin-top:1px;
    line-height: 32px;
    /* 设置了这个,底下的才能穿透,未知原因 */
    z-index: 1;
}
:host ::ng-deep .header .nav-tabs a,
:host ::ng-deep .header .nav-tabs li,
:host ::ng-deep .header .nav-tabs li .active,
:host ::ng-deep .devui-accordion-menu {
    color:red;
    border-bottom-color:red;
}
.greeting{
    float:right;
    margin-top:10px;
    margin-right:10px;
    line-height:20px;
}
.menu-container {
    float: left;
    width: 200px;
    height: calc(100% - 40px);
    padding-top:15px;
    background: white;
}
/* 穿透文字效果 */
:host ::ng-deep .devui-accordion-menu {
    box-shadow: none;
}

.option {
    line-height: 20px;
    vertical-align: middle;
    margin-top: 20px;
}

.option > d-toggle {
    display: inline-block;
    transform: translateY(3px);
}

@media (max-width: 250px) {
    .menu {
        width: 80%;
    }
}

.content {
    float: left;
    width: calc(100% - 240px);
    height: calc(100% - 50px);
    margin: 10px 20px;
    padding-top:20px;
    padding-left:20px;
    background: white;
}
